# URL du flux donné dans https://diffuseur.datatourisme.fr/fr/flux
DATATOURISME_URL_FLUX=<URL_FLUX_DATATOURISME SANS APP KEY>

# Clé API de Datatourisme donnée dans https://diffuseur.datatourisme.fr/fr/application
DATATOURISME_API_KEY=<APP KEY DATATOURISME>

# Paramètres de connexion à la base de données PostgreSQL dans Docker
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=
