# URL du flux donné dans https://diffuseur.datatourisme.fr/fr/flux
DATATOURISME_URL_FLUX=<URL_FLUX_DATATOURISME SANS APP KEY>

# Clé API de Datatourisme donnée dans https://diffuseur.datatourisme.fr/fr/application
DATATOURISME_API_KEY=<APP KEY DATATOURISME>

# Permet d'utiliser DuckDB pour le stockage des données directement dans le système de fichier local
# sans avoir besoin de démarrer un conteneur PostgreSQL
# 1 pour activer DuckDB, 0 pour désactiver
USE_DUCKDB= <1|0>